# Ignore bytecode and python cache
__pycache__/
*.py[cod]

# Ignore generated datasets files
*.npy

# Ignore GMDNet data and output folders

# Do NOT ignore the topology JSON configuration file
!segments.json