# Ignore bytecode and python cache
__pycache__/
*.py[cod]

# Ignore generated datasets files
# Ignore GMDNet data and output folders

# Ignore large datasets, weights, and logs
*.csv
*.pth
*.zip
logs/

# Do NOT ignore the topology JSON configuration file
!segments.json